/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Recursive&family=Roboto');

* {
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Variables */
:root {
  --ff-primary: 'Recursive', 'sans-serif';
  --ff-secondary: 'Roboto', 'monospace';

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #CCC;
  --clr-white: #FFF;
  --clr-dark: rgba(252, 252, 252, 0.2);
  --clr-shadow: rgba(20, 20, 20, .5);
  --clr-accent: #258f2e;
  --clr-menu-active: rgba(63, 63, 245, 0.842);
  --clr-error: #AA0000;
  --clr-section-back: rgba(20, 20, 20, .5);
  /* https://coolors.co/001011-093a3e-3aafb9-64e9ee-97c8eb */

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --bs-body: 1rem;

  --bs-shadow: 0.25em 0.25em 0.75em rgb(58, 175, 185), 
               0.125em 0.125em 0.25em rgba(0, 0, 0, .15);

}


body {
  background-color: #000;
  background-image: url('./Images/home5.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}


/* Nav Start */
.navbar{
  /* width: 100vw; */
  background: rgba(236, 228, 228, 0.12);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.3px);
  -webkit-backdrop-filter: blur(2.3px);
}
.navbar {
  margin-left: 25%;
  margin-right: 2%;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  flex-direction: row;
  height: 60px;
  padding: 15px 30px 5px 30px;

  font-size: var(--fs-h3);
}



.navbar a{
  text-decoration: none;
  color: var(--clr-white);
  text-transform: capitalize;
  font-family: var(--ff-primary);
  font-size: 1.2em;
}

/* Active navbar style */
.navbar > li .active {
  color: var(--clr-menu-active);
 transition: 200ms ease-in;
}

/* Logo Start */
.logo {
  top: 0;
  left: 5px;
  position: absolute;
  background: rgba(253, 251, 251, 0.05);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.3px);
  -webkit-backdrop-filter: blur(2.3px);
}

.logo img {
  width: 250px;
  height: 100px;

}
/* Home Page */
.more-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40vw;
  
  margin-top: 75vh;
  margin-left: auto;
  margin-right: auto;
  color: var(--clr-accent);
  font-size: var(--fs-h2);
  font-weight: 700;
  font-family: var(--ff-secondary);
}

.more-container span {
background-color: rgba(252, 252, 252, 0.2);
padding: 10px;
border-radius: 5em;
}

.more-container span:hover{
background-color: rgba(252,252,252,0.7);
transition: 300ms ease-in-out;
}


/* Title Values */
.titleText {
  color: var(--clr-light);
  left: 0;
  /* line-height: 200px; */
  /* margin-top: -100px; */
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  font-size: var(--fs-h1)

}
/* Section Styling (Multiple Pages) */
section {
  min-width: auto;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
padding: 2em;
  color: var(--clr-light);
  background: var(-clr-section-back);
  font-family: var(--ff-secondary);
  border-radius: 5%;
}

.section__title {
  text-align: center;
  font-size: var(--fs-h1);
  margin-bottom: 20px;
  color: var(--clr-light);
}

.section__subtitle{
  color: var(--clr-light);
  text-align: center;
  font-size: var(--fs-h3)
}
/* Service Start */
.service {
  line-height: 2;
  margin-top: 20px;
}

.service h2{
  text-align: center;
  padding: 20px;
  font-size: 2em;
}
.image-container{
  text-align: center;
}
.service img {
  padding-left: 20px;
  max-width: 100%;
  height: 25vh;
  width: 20vw;
}

.flex-container{
  display: flex;
  align-items: center;
  justify-content: center;

}

.text-container {
  flex-basis: 40%;
  padding-right: 40px;
}

.services__body {
  color: var(--clr-white);
  background: rgba(236, 228, 228, 0.12);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.3px);
  -webkit-backdrop-filter: blur(2.3px);
  padding: 20px;
}
/* About Start */
.about-me__body {
  line-height: 2;
}

.about-me__body{
  color: var(--clr-white);
  background: rgba(236, 228, 228, 0.12);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.3px);
  -webkit-backdrop-filter: blur(2.3px);
  padding: 20px;
}

.section__subtitle--about {
  margin-bottom: 20px;
}

.error {
  color: var(--clr-error);
  text-align: center;
  margin-top: 10%;
  font-size: var(--fs-h1);
}

/* Portfolio Start */

.portfolio__img{
  width: 250px;
  height: 250px;
  padding: 20px;
}

.section__subtitle--mywork{
  font-size: var(--fs-h3);
 padding: 20px;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  margin: 0 auto;
  max-width: 1400px;

  background: rgba(236, 228, 228, 0.12);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.3px);
  -webkit-backdrop-filter: blur(2.3px);
  
}

.project-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  text-align: center;
  overflow: hidden;
}

.project-label {
  text-decoration: none;
  color: var(--clr-white);
}

.portfolio__img {
  transition: 
  transform 750ms cubic-bezier(.5,0,.5,1),
  opacity 250ms linear;
}


.portfolio__img:hover {
 transform: scale(1.2);
}



/* Media Small Devices */

@media (max-width: 960px) {
  .section__title .section__subtitle .section__subtitle--about{
    font-size: 50%;
  }
  
  .titleText {
    font-size: 16px;
  }
  
  p {
    font-size: 1em;
  }
  
  .navbar {
    margin-left: 25%;
    margin-right: 2%;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    flex-direction: row;
    margin-bottom: 25px;
    height: 75px;
    background: var(-clr-section-back);
    font-size: 75%;
  }
  
  .logo img {
    width: 150px;
    height: 50px;
  
  }
  
  .more-container span {
    font-size: 50%;
  }

  .flex-container{
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
  }

  .image-container img{
    width: 100%;
  }
  
  }
  