/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Recursive&family=Roboto');

* {
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Variables */
:root {
  --ff-primary: 'Recursive', 'sans-serif';
  --ff-secondary: 'Roboto', 'monospace';

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #000;
  --clr-white: #000;
  --clr-dark: rgba(252, 252, 252, 0.2);
  --clr-shadow: rgba(20, 20, 20, .5);
  --clr-accent: #258f2e;
  --clr-menu-active: rgba(255, 255, 255, 0.842);
  --clr-error: #AA0000;
  --clr-section-back: rgba(20, 20, 20, .5);
  /* https://coolors.co/001011-093a3e-3aafb9-64e9ee-97c8eb */

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --bs-body: 1rem;

  --bs-shadow: 0.25em 0.25em 0.75em rgb(58, 175, 185), 
               0.125em 0.125em 0.25em rgba(0, 0, 0, .15);

}

.area{
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
}


body {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}


/* Nav Start */
.navbar{
  /* width: 100vw; */
  background: rgba(236, 228, 228, 0.12);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.3px);
  -webkit-backdrop-filter: blur(2.3px);
}
.navbar {
  margin-left: 25%;
  margin-right: 2%;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  flex-direction: row;
  height: 80px;
  padding: 15px 30px 5px 30px;

  font-size: var(--fs-h3);
}

.navbar__item{
  display: flex;
  align-items: center;
  flex-direction: column;
}


.navbar a{
  text-decoration: none;
  color: var(--clr-white);
  text-transform: capitalize;
  font-family: var(--ff-primary);
  font-size: 1.2em;
}

/* Active navbar style */
.navbar > li .active {
  color: var(--clr-menu-active);
 transition: 200ms ease-in;
}

.navbar__item .active {
  color: var(--clr-menu-active);
 transition: 200ms ease-in;
}

/* Logo Start */
.logo {
  top: 0;
  left: 5px;
  position: absolute;
  background: rgba(253, 251, 251, 0.05);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.3px);
  -webkit-backdrop-filter: blur(2.3px);
}

.logo img {
  width: 250px;
  height: 100px;

}
/* Home Page */
.calltoaction {
  margin-top: 5em;
  text-align: center;
}
.calltoaction__link{
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 3em;
}
.calltoaction{
  cursor: pointer;
  padding: 10px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 12px;
    border: 1px solid rgba(242, 243, 245, 0.3);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
}
/* Title Values */
.titleText {
  color: #000;
  font-size: 4em;
  width: fit-content;
  text-align: center;
  margin-top: 30vh;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  /* margin: 0 auto; Gives that scrolling effect as the typing happens */
  margin-left: auto;
  margin-right: auto;
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 75vw }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}
/* Section Styling (Multiple Pages) */
section {
  min-width: auto;
  max-width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  color: var(--clr-light);
  background: var(-clr-section-back);
  font-family: var(--ff-secondary);
  border-radius: 5%;
}

.section__title {
  text-align: center;
  font-size: var(--fs-h1);
  margin-bottom: 20px;
  color: var(--clr-light);
}

.section__subtitle{
  color: var(--clr-light);
  text-align: center;
  font-size: var(--fs-h3)
}
/* Service Start */
.service {
  width: 30vw;
  line-height: 2;
  margin: 20px;
}

.service h2{
  text-align: center;
  padding: 20px;
  font-size: 2em;
}
.image-container{
  text-align: center;
}
.service img {
  padding-top: 2em;
  
  max-width: 100%;
  height: 25vh;
  width: 20vw;
}

.flex-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}



.services__body {
  display: flex;

  color: var(--clr-white);
  background: rgba(236, 228, 228, 0.12);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.3px);
  -webkit-backdrop-filter: blur(2.3px);
  padding: 20px;
}




/* About Start */

.about-me__body{
  color: var(--clr-white);
  background: rgba(236, 228, 228, 0.12);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.3px);
  -webkit-backdrop-filter: blur(2.3px);
  padding: 20px;
  width: 75vw;
  line-height: 2;
  margin-left: auto;
  margin-right: auto;
}

.error {
  color: var(--clr-error);
  text-align: center;
  margin-top: 10%;
  font-size: var(--fs-h1);
}

/* Portfolio Start */

.portfolio__img{
  width: 250px;
  height: 250px;
  padding: 20px;
}

.section__subtitle--mywork{
  font-size: var(--fs-h3);
 padding: 20px;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  margin: 0 auto;
  max-width: 1400px;

  background: rgba(236, 228, 228, 0.12);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.3px);
  -webkit-backdrop-filter: blur(2.3px);
  
}

.project-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  text-align: center;
  overflow: hidden;
}

.project-label {
  text-decoration: none;
  color: var(--clr-white);
}

.portfolio__img {
  transition: 
  transform 750ms cubic-bezier(.5,0,.5,1),
  opacity 250ms linear;
}


.portfolio__img:hover {
 transform: scale(1.2);
}

/* Contact Page */
.contactForm{
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  color: var(--clr-white);
  text-align: center;
  
}

.contact-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  
}

.contact-flex label {
  flex-basis: 20%;
  padding: 10px;
  margin: 10px;
  font-size: var(--fs-h3);
}

.contact-flex input {
  padding: 10px;
  margin: 10px;
  width: 100%;
  border-radius: 1em;
  border: none;
}

.contact-flex input:focus{
  border: 1px rgba(63, 63, 245, 0.842);
}

.contact-flex textarea {
  width: 100%;
  padding: 10px;
  margin: 10px;
  height: 15vh;
  border-radius: 1em;
  border: none;
  resize: none;
}

.submitContainer input{
  background-color:rgba(63, 63, 245, 0.842);
  font-size: 1.5em;
}


/* Media Small Devices */

@media (max-width: 960px) {
  .section__title .section__subtitle .section__subtitle--about{
    font-size: 50%;
  }
  

  .services__body {
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }


  
  .titleText {
    font-size: 16px;
  }
  
  p {
    font-size: 1em;
  }


  
  .navbar {
    margin-left: 25%;
    margin-right: 2%;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    flex-direction: row;
    margin-bottom: 25px;
    height: fit-content;
    background: var(-clr-section-back);
    font-size: 75%;
  }


  
  .logo img {
    width: 150px;
    height: 50px;
  
  }
  
  .more-container span {
    font-size: 50%;
  }

  .flex-container{
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
  }

  .image-container img{
    width: 100%;
  }
  
  }
  